.novedades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-content: center;
}

#root {
  margin: auto;
}

img {
  width: 20rem;
  height: 30rem;
  display: block;
  margin: 0 auto;
}